<ion-view title="Auspiciar Mingas" id="page10" style="background-color:#FFFFFF;">
  <ion-content padding="true" style="background: url(img/U4s3PhcQzGd78z1EcGMA_depositphotos_100519454-stock-photo-wooden-tiles-texture.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="auspiciarMingas-list14">
      <div class="item item-body" id="auspiciarMingas-list-item-container13">
        <div id="auspiciarMingas-markdown24" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Puedes auspiciar Mingas</strong>
          </p>

          <p style="color:#000000;">Cada vez que auspicias una minga, y esta se comparte en redes sociales muchas personas veran tu local comercial.</p>

          <p style="color:#000000;">Puedes ofrecer un producto a un precio reducido en alguna de las categorias existentes. </p>
        </div>
      </div>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 22px;"></div>
    <form id="auspiciarMingas-form8" class="list">
      <label class="item item-input" id="auspiciarMingas-input13">
        <span class="input-label">Nombre del auspicio</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="auspiciarMingas-textarea1">
        <span class="input-label">Detalle del Auspicio</span><textarea placeholder=""></textarea></label>
      <label class="item item-select" id="auspiciarMingas-select6">
        <span class="input-label">Cantidad de Mingas</span>
        <select>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
          <option>7</option>
          <option>8</option>
          <option>9</option>
          <option>10</option>
        </select>
      </label>
      <label class="item item-select" id="auspiciarMingas-select5">
        <span class="input-label">Tipo de Premio</span>
        <select>
          <option>Cerveza</option>
          <option>Vino</option>
          <option>Comida</option>
          <option>Pizza</option>
          <option>Servicio</option>
        </select>
      </label>
    </form>
    <button id="auspiciarMingas-button17" style="border-radius:50px 50px 50px 50px;" class="button button-positive button-block icon-right ion-android-camera">Seleccionar Imagen</button>
    <button id="auspiciarMingas-button18" class="button button-balanced button-block icon-right ion-checkmark-round">Crear Auspicio</button>
  </ion-content>
</ion-view>