<ion-view title="Detalles de la actividad:" id="page5">
  <ion-nav-buttons side="left" class="has-header">
    <button class="button button-icon icon No Icon"></button>
  </ion-nav-buttons>
  <ion-content padding="true" style="background: url(img/VdNAhssvQQ6vCIhS8a9f_depositphotos_100519454-stock-photo-wooden-tiles-texture.jpg) no-repeat center;background-size:cover;" class="has-header">
    <ion-list id="detallesDeLaActividad-list16">
      <div class="item item-body" id="detallesDeLaActividad-list-item-container14">
        <div id="detallesDeLaActividad-markdown26" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;font-size:20px;">
            <strong>Cambio de casa</strong>
          </p>

          <p style="color:#000000;font-size:20px;">Comparte en redes sociales</p>
        </div>
      </div>
    </ion-list>
    <div id="detallesDeLaActividad-button-bar1" class="button-bar">
      <button id="detallesDeLaActividad-button14" class="button button-balanced button-block icon ion-social-whatsapp"></button>
      <button id="detallesDeLaActividad-button15" class="button button-positive button-block icon ion-social-facebook"></button>
      <button id="detallesDeLaActividad-button16" class="button button-calm button-block icon ion-social-twitter"></button>
    </div>
    <ion-list id="detallesDeLaActividad-list2">
      <ion-item class="item-thumbnail-left" id="detallesDeLaActividad-list-item10">
        <img src="img/NBMz3VFgT8C8HdUkFnsO_1524097-zz.jpg">
        <h2>Organiza:</h2>
        <p>Juanito Peres</p>
      </ion-item>
    </ion-list>
    <ion-list id="detallesDeLaActividad-list15">
      <div class="item item-body" id="detallesDeLaActividad-list-item-container15">
        <div id="detallesDeLaActividad-markdown27" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Detalles</strong>
          </p>

          <p style="color:#000000;">Invito a todos mis amigos a participar!</p>

          <p style="color:#000000;">Debo cambiarme de casa, </p>

          <p style="color:#000000;">recompensare a los que participen con unas Cervezitas y buena onda!</p>
        </div>
      </div>
    </ion-list>
    <h1 id="detallesDeLaActividad-heading3" style="color:#000000;">Recompensas:</h1>
    <ion-list id="detallesDeLaActividad-list11">
      <ion-item class="item-icon-right" id="detallesDeLaActividad-list-item28">Cerveza
        <i class="icon ion-beer"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="detallesDeLaActividad-list-item29">Comida
        <i class="icon ion-android-restaurant"></i>
      </ion-item>
      <ion-item class="item-icon-right" id="detallesDeLaActividad-list-item30">Conversacion
        <i class="icon ion-android-people"></i>
      </ion-item>
    </ion-list>
    <button id="detallesDeLaActividad-button11" class="button button-balanced button-block icon-right ion-checkmark-round">Participar</button>
    <h1 id="detallesDeLaActividad-heading5" style="color:#000000;">Lugar:</h1>
    <div id="detallesDeLaActividad-container1">
      <ion-list id="detallesDeLaActividad-list8">
        <ion-item class="item-icon-left" id="detallesDeLaActividad-list-item11">
          <i class="icon ion-android-alarm-clock"></i>25 de Febrero 18:00 Horas</ion-item>
        <ion-item class="item-icon-left" id="detallesDeLaActividad-list-item12">
          <i class="icon ion-map"></i>Mi casa! :)</ion-item>
        <ion-item class="item-icon-left" id="detallesDeLaActividad-list-item27">
          <i class="icon ion-ios-people"></i>Personas Necesarias: 4/10</ion-item>
      </ion-list>
      <button id="detallesDeLaActividad-button19" class="button button-positive button-block icon-right ion-android-chat">Comentar</button>
    </div>
    <ion-list id="detallesDeLaActividad-list3">
      <ion-item class="item-divider" id="detallesDeLaActividad-list-item-divider1"> Ultimos Comentarios:</ion-item>
      <ion-item class="item-avatar assertive" id="detallesDeLaActividad-list-item19">
        <h2assertive>Juanito Peres:
          <p>16:05 asdasdasdasdasd</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="detallesDeLaActividad-list-item23">
        <h2assertive>Juanito Peres:
          <p>16:05 asdasdasdasdasd</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="detallesDeLaActividad-list-item24">
        <h2assertive>Juanito Peres:
          <p>16:05 asdasdasdasdasd</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="detallesDeLaActividad-list-item25">
        <h2assertive>Juanito Peres:
          <p>16:05 asdasdasdasdasd</p>
        </h2assertive>
      </ion-item>
      <ion-item class="item-avatar assertive" id="detallesDeLaActividad-list-item26">
        <h2assertive>Juanito Peres:
          <p>16:05 asdasdasdasdasd</p>
        </h2assertive>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>