<ion-view title="Selecciona auspicio" id="page14">
  <ion-content padding="true" style="background: url(img/ZpV5PVpnTw2JXzKGkxie_slqsm.jpg) no-repeat center;background-size:cover;" class="has-header">
    <div class="list card" id="seleccionaAuspicio-card210">
      <div class="item item-body" id="seleccionaAuspicio-list-item-container12">
        <div id="seleccionaAuspicio-markdown22" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">
            <strong>Existen recompensas que coinciden con auspiciadores. Puedes seleccionar uno de estos auspiciadores locales para favorecer tu minga.</strong>
          </p>
        </div>
      </div>
    </div>
    <div id="seleccionaAuspicio-container4">
      <div id="seleccionaAuspicio-markdown20" class="show-list-numbers-and-dots"></div>
    </div>
    <div class="spacer" style="width: 300px; height: 23px;"></div>
    <ion-list id="seleccionaAuspicio-list13">
      <ion-item class="item-thumbnail-left" id="seleccionaAuspicio-list-item42" ui-sref="tabsController.detallesDeLaActividad()">
        <img src="img/IkduLFxpRoWdzkaIWkqg_d48a09d1251dd6bc499d00c3a17d88cc.jpg">
        <h2>Cerveza</h2>
        <p style="white-space:normal;">10% de descuento para tu minga. Auspicia Botilleria XXXXX.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="seleccionaAuspicio-list-item43" ui-sref="tabsController.detallesDeLaActividad()">
        <img src="img/lLrL8OnXRy2B8yLdoLAf_pizza.jpg">
        <h2>Pizza</h2>
        <p style="white-space:normal;">10% de descuento en pizza familiar para tu minga. Pizzeria XXXXX.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="seleccionaAuspicio-list-item48" ui-sref="tabsController.detallesDeLaActividad()">
        <img src="img/IkduLFxpRoWdzkaIWkqg_d48a09d1251dd6bc499d00c3a17d88cc.jpg">
        <h2>Cerveza</h2>
        <p style="white-space:normal;">10% de descuento para tu minga. Auspicia Botilleria XXXXX.</p>
      </ion-item>
      <ion-item class="item-thumbnail-left" id="seleccionaAuspicio-list-item49" ui-sref="tabsController.detallesDeLaActividad()">
        <img src="img/lLrL8OnXRy2B8yLdoLAf_pizza.jpg">
        <h2>Pizza</h2>
        <p style="white-space:normal;">10% de descuento en pizza familiar para tu minga. Pizzeria XXXXX.</p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>